$light-grey: #f4f4f4;
$grey: #A9A9A9;
$dark-grey: #4a4a4a;
$darker-grey: #181818;
$pale-blue: #B8D2D2;

$button-blue: #97d6d9;
$button-white: #fff;

$font-headers: 'Patua One', cursive;
$font-content: Calibri;

$bg-color: $light-grey;
$item-bg-color: #fff;

$pale-orange: #ff9348;
$orange: #ff6c07;
$pale-brown: #b28261;