$lighter-grey: #f1f1f1;
$light-grey: #f4f4f4;
$lighty-grey: #b3b3b3;
$grey: #A9A9A9;
$dark-grey: #4a4a4a;
$darker-grey: #181818;
$pale-blue: #c9e0e1;
$blue: #97d6d9;
$button-blue: #97d6d9;
$button-white: #fff;

$pale-red: #ff7e7e;
$red: #cd4d4d;

$font-headers: 'Patua One', georgia, serif;
$font-content: Calibri, helvetica, sans-serif;

$bg-color: $light-grey;
$item-bg-color: #fff;

$pale-orange: #ff9348;
$orange: #ff6c07;
$pale-brown: #b28261;