$light-grey: #E8E8E8;
$grey: #A9A9A9;
$dark-grey: #181818;
$pale-blue: #B8D2D2;

$button-blue: #76CDCD;
$button-white: #fff;
$font-btn: Calibri;

$font-content: Helvetica, sans-serif;

$bg-color: $pale-blue;
$item-bg-color: #fff;
