.cardItem {
	padding: 0px;
	margin: 7px 5px;
	width: 190px;
	@include breakpoint('tablet-portrait') {
		width: 240px;
	}
	@include breakpoint('tablet-landscape') {
		width: 235px;
	}
	@include breakpoint('desktop') {
		width: 340px;
	}
	// box-shadow: 0px 5px 0px 0px $grey;
 	text-decoration: none;
 	color: $dark-grey;
  .information {
  	h1 {
  		margin: 0px;
  		font-size: 12pt;
  		font-weight: 500;
  	}
  	background-color: $item-bg-color;
  	margin: 0px;
  	padding: 10px;
  	font-size: 12pt;
  	font-family: $font-content;
  	font-weight: 200;
  }
}