.detailView {
	min-height: 100vh;
	margin: 0;
  background-color: $item-bg-color;
	.cover {
		margin: 0;
		width: 100%;
		overflow: hidden;
		&.folded {
			max-height: 150px;
			@include breakpoint('tablet-portrait') {
				max-height: none;
			}
		}
		@include breakpoint('tablet-portrait') {
			width: 250px;
			padding: 15px;
			float: left;
		}
		@include breakpoint('tablet-landscape') {
			width: 400px;
			padding: 15px;
			float: left;
		}
		@include breakpoint('desktop') {
			width: 400px;
			padding: 15px;
			float: left;
		}
	}
	.info-section {
		padding: 10px 20px;
  	font-family: $font-content;
  	font-weight: 200;
  	word-wrap: break-word;
  	color: $dark-grey;
  	background-color: $lighter-grey;
  	&.opinionList {
  		padding: 50px 0px;
  		background-color: white;
  		h1 {
  			margin: 0px 20px;
  		}
  		.opinion {
  			border: solid $lighty-grey;
  			border-width: 0px 0px 2px 0px;
  			a {
  				text-decoration: none;
  				color: $dark-grey;
  				&:hover {
  					text-decoration: underline;
  				}
  			}
  			h2 {
  				margin: 20px 20px 0px 20px;
  				font-size: 14pt;
  				font-weight: bold;
  				.fa {
  					color: $blue;
  					margin-left: 10px;
  				}
  			}
  			.opinionText {
  				padding: 0px 20px;
  				p {
  					margin: 10px 0px 20px 0px;
  				}
  				&.folded {
  					.rest {
  						margin-top: 0px;
  						display: none;
  					}
  					.readMore {
  						display: block;
  						margin: 0px auto 20px auto;
  						color: $dark-grey;
  						font-weight: 700;
  						border: 2px solid $blue;
  						border-radius: 5px;
  						background-color: #fff;
  						padding: 5px 15px;
  					}
  				}
  				.readMore {
  					display: none;
  				}
  			}
  		}
  	}
  	&.related {
  		padding: 50px 20px;
  		background-color: $pale-blue;
  	}
  	h1 {
  		font-family: $font-headers;
  		margin: 0px;
  		font-weight: 200;
  	}
  	h2 {
  		font-family: $font-content;
  		margin: 0px;
  		font-weight: 200;
  	}
  	p {
  		padding: 0px;
  	}
  	.fa { color: $darker-grey }
  	.providerDate {
  		margin: 0px 0px 50px 0px;
  		font-family: $font-content;
  		font-size: 17pt;
  		font-weight: bold;
  	}
  	.quote {
  		margin: 0px 0px 24px 0px;
  		font-family: $font-content;
  		font-style: italic;
  		font-size: 14pt;
  	}
	}
}

