.detailView {

  .summary .image-container {
    box-shadow: 18px 0px 10px -10px rgba(0, 0, 0, 0.15);
  }
  .keywordBar {
    display: none;
    @include breakpoint('tablet-portrait') {
      display: block;
      padding: 20px 0px 10px 10px;
      width: 100%;
      font-size: 12pt;
      margin-top: 0px;
      border: 0px;
      overflow: hidden;
    }
  }
  .taste {
    text-align: center;
    font-size: 20pt;
    color: $button-white;
    background-color: $button-blue;
    border: 1px solid $button-blue;
    display: block;
    width: inherit;
    font-family: $font-content;
    margin: 20px auto;
    border-radius: 8px;
    font-weight: 700;
    text-decoration: none;
  }

  .info-section {
    @include breakpoint('tablet-landscape') {
      width: 100%;
      .container {
        width: 960px;
        margin: 0px auto;
      }
    }
  }
	min-height: 100vh;
	margin: 0;
  background-color: $item-bg-color;
	.cover {
		margin: 0;
		width: 100%;
		overflow: hidden;
		&.folded {
			max-height: 265px;
			@include breakpoint('tablet-portrait') {
				max-height: none;
			}
		}
		@include breakpoint('tablet-portrait') {
			width: 250px;
			padding: 15px;
      float: left;
      margin-right: 10px;

		}
		@include breakpoint('tablet-landscape') {
			width: 400px;
			padding: 15px;
      float: left;
      margin-right: 20px;
		}
	}
	.info-section {
    display: inline-block;
		padding: 0px;
  	background-color: $lighter-grey;
    width: 100%;
    .text-container {
      font-family: $font-content;
      font-weight: 200;
      word-wrap: break-word;
      color: $dark-grey;
      padding: 10px 20px;
    }
    &.summary {
      text-container {
        float: left;
      }
      .taste {
        padding: 10px 20px;
        @include breakpoint('tablet-landscape') {
          padding: 10px 40px;
        }
      }
    }
  	&.opinion-extra {
      @include breakpoint('tablet-landscape') {
        .container {
          width: 960px;  
        }
        .opinionList {
          width: 48%;
          float: left;
        }
        .otherFrom {
          h1 { margin-bottom: 20px; }
          width: 47%;
          float: left;
          &.full {
            width: 100%;
          }
        }
      }
      .container {
        padding: 10px 0px;
      }
  		padding: 50px 0px;
  		background-color: white;
  		.opinion {
  			border: solid $lighty-grey;
  			border-width: 0px 0px 2px 0px;
        @include breakpoint('tablet-landscape') {
          border-width: 0px 0px 1px 0px;
        }
  			a {
  				text-decoration: none;
  				color: $dark-grey;
  				&:hover {
  					text-decoration: underline;
  				}
  			}
  			h2 {
  				margin: 20px 0px 0px 0px;
  				font-size: 14pt;
  				font-weight: bold;
  				.fa {
  					color: $blue;
  					margin-left: 10px;
  				}
  			}
  			.opinionText {
  				margin: 10px 0px 20px 0px;
  				&.folded {
  					.readMore {
  						display: block;
  						margin: 20px auto 0px auto;
  						color: $dark-grey;
  						font-weight: 700;
  						border: 2px solid $blue;
  						border-radius: 5px;
  						background-color: #fff;
  						padding: 5px 15px;
  					}
  				}
  				.readMore {
  					display: none;
  				}
  			}
  		}
  	}
  	&.related {
  		background-color: $pale-blue;
  	}
  	h1 {
  		font-family: $font-headers;
  		margin: 0px;
  		font-weight: 200;
  	}
  	h2 {
  		font-family: $font-content;
  		margin: 0px;
  		font-weight: 200;
  	}
  	p {
  		padding: 0px;
  	}
  	.fa {
      color: $darker-grey;
      @include breakpoint('tablet-landscape') {
        margin-top: -15px;
        margin-left: 10px;
      }
    }
  	.providerDate {
  		margin: 0px 0px 50px 0px;
  		font-family: $font-content;
  		font-size: 17pt;
  		font-weight: bold;
  	}
  	.quote {
  		margin: 0px 0px 24px 0px;
  		font-family: $font-content;
  		font-style: italic;
  		font-size: 14pt;
      @include breakpoint('tablet-portrait') {
        width: 60%;
        float: right;
      }
      @include breakpoint('tablet-landscape') {
        width: 50%;
        float: right;
      }
      .readMore { display: none }
      &.folded {
        .readMore {
          display: inline;
          a {
            font-weight: bold;
            text-align: right;
            color: $blue;
          }
        }
      }
  	}
	}
}

